<div class="container-fluid p-0" style="height: 100vh; padding-top: 60px !important;">
    <div class="col-12 p-0 row m-0" style="height: 50%;">
        <div class="col-6 h-100">
            <div class="col-12 p-0 text-center border"><h5>Avisos Postulados</h5></div>
            <app-lista-avisos-postulados-por-usuario [listaAvisosPostulados]="(postuladosLista$|async)"></app-lista-avisos-postulados-por-usuario>
        </div>
        <div class="col-6 h-100">
            <div class="col-12 p-0 text-center border"><h5>Trabajos Realizados</h5></div>
            <app-lista-trabajos-realizados [listaTrabajoRealizados]="(trabajosRealizado$|async)"></app-lista-trabajos-realizados>
        </div>
    </div>
    <div class="col-12 p-0 row m-0" style="height: 50%;">
        <div class="col-12 h-100">
            <div class="col-12 p-0 text-center border"><h5>Trabajos concretados activos</h5></div>
            <app-lista-trabajos-activos [listaTrabajoActivo]="(trabajosRealizado$|async)"></app-lista-trabajos-activos>
        </div>
    </div>
</div>