<div class="modal fade" id="modalDetalleHistorial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row m-0 rounded">
          <div class="col-12 text-center">
            <h4> {{detallesAviso.nombre}} </h4>
          </div>
          <div class="col-12 p-0 mb-2">
            <div class="rounded w-100 row m-0 p-0" style="height:20vh;">
              <div class="col-4 p-0 h-100">
                <img class="w-100 h-100" [src]="(usuario$|async)?.foto">
              </div>
              <div class="col h-100" style="overflow-y: scroll;">
                <span>
                  {{detallesAviso.desc}}
                </span>
              </div>
            </div>
          </div>
          <!-- mapa -->
          <div class="col-12 p-0" style="height: 50vh;">
            <app-mapa-detalles-aviso [centroMapaDetalle]="detallesAviso.ubicacion"></app-mapa-detalles-aviso>
          </div>
          <div class="col-12 p-0 mt-2" style="height: 8vh;">
            <div class="alert alert-primary w-100 h-100" *ngIf="detallesAviso.cantidadPostulados !== undefined && detallesAviso.cantidadPostulados !== null">
              Este aviso tuvo {{detallesAviso.cantidadPostulados}} Postulados
            </div>
          </div>
          <div class="col-12 p-0 mt-2" style="height: 7vh;">
            <div class="alert alert-warning w-100 h-100">
              Este aviso <strong> {{detallesAviso.estado}} </strong>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>