<div class="modal fade" id="modalDetalleHistorial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <div class="col-12 p-0 text-center">
          <h5 class="modal-title" id="exampleModalLabel"> {{avisoDetalle}} </h5>
        </div>
      </div>
      <div class="modal-body">
        <div class="row m-0 rounded" style="height: 80vh;">
          <div class="col-12 p-0 mb-2" style="height: 40%;">
            <!-- Detalle aviso -->
            <div class="rounded w-100 border row m-0 p-0" style="height: 80% ;">
              <div class="col-4 p-0 h-100">
                <img class="w-100 h-100" src="https://via.placeholder.com/150">
              </div>
              <div class="col h-100" style="overflow-y: scroll;">
                <span>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, a. Nulla nobis aspernatur, quos aut
                  optio cumque deleniti vero possimus autem laudantium? Ratione ex error harum illo a quasi commodi.
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, a. Nulla nobis aspernatur, quos aut
                  optio cumque deleniti vero possimus autem laudantium? Ratione ex error harum illo a quasi commodi.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, a. Nulla nobis aspernatur, quos aut
                  optio cumque deleniti vero possimus autem laudantium? Ratione ex error harum illo a quasi commodi.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, a. Nulla nobis aspernatur, quos aut
                  optio cumque deleniti vero possimus autem laudantium? Ratione ex error harum illo a quasi commodi.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, a. Nulla nobis aspernatur, quos aut
                  optio cumque deleniti vero possimus autem laudantium? Ratione ex error harum illo a quasi commodi.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, a. Nulla nobis aspernatur, quos aut
                  optio cumque deleniti vero possimus autem laudantium? Ratione ex error harum illo a quasi commodi.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, a. Nulla nobis aspernatur, quos aut
                  optio cumque deleniti vero possimus autem laudantium? Ratione ex error harum illo a quasi commodi.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, a. Nulla nobis aspernatur, quos aut
                  optio cumque deleniti vero possimus autem laudantium? Ratione ex error harum illo a quasi commodi.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, a. Nulla nobis aspernatur, quos aut
                  optio cumque deleniti vero possimus autem laudantium? Ratione ex error harum illo a quasi commodi.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, a. Nulla nobis aspernatur, quos aut
                  optio cumque deleniti vero possimus autem laudantium? Ratione ex error harum illo a quasi commodi.
                </span>
              </div>
            </div>
            <div class="alert alert-warning w-100 text-center mt-2" role="alert" style="height: 18%;">
              Este aviso se encuentra ESTADO
            </div>
          </div>
          <div class="col-12 p-0" style="height: 50%;">
            <!-- mapa -->
            <app-mapa-detalles-aviso [centroMapaDetalle]="avisoDetalle"></app-mapa-detalles-aviso>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>