<div class="container-fluid row m-0 p-0 w-100" style="height:100vh; padding-top: 50px !important;">
    <div class="col-9 h-100 pt-2 pb-2 rounded">
        <div class="col-12 bg-verdeclaro pt-2" style="height: 70%;">
            <app-mapa-home [centroMapa]="centroMapa" [avisosLista]="(trabajos$ | async)"></app-mapa-home>
        </div>
        <div class="col-12 pt-2 bg-verdeclaro" style="height: 30%;">
            <button class="btn btn-dark w-100" (click)="obtenerMiUbicacion()"> <strong>Obtener mi ubicación</strong> </button>
            <div class="input-group mb-3 mt-2">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Región:</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="regionSeleccionada" (change)="cambiarcoords()">
                  <option *ngFor="let region of opcionesRegion" [value]="region.coords"> {{region.name}} </option>
                </select>
            </div>
            <div class="form-group mt-2 w-100">
                <label for="kmInputs"> <h5>Kilometros que quieres abarcar:</h5> </label>
                <input type="number" class="form-control w-100" id="kmInputs" min="0" max="10" [(ngModel)]="kilometros" (change)="cambio()">
            </div>
        </div>
    </div>
    <div class="col-3 pt-2 pb-2 h-100">
        <app-lista-avisos [lista]="(trabajos$ | async)"></app-lista-avisos>
    </div>
</div>