<div class="modal fade" id="modalDetalleComentario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-12 text-center">
                    <h4>Trabajo nombre</h4>
                </div>
                <div class="col-12 w-100 border" style="height: 15vh; overflow-y: scroll;">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ratione dignissimos, incidunt minus
                        cupiditate facere nam laudantium numquam hic voluptatum corporis inventore fugit enim ipsa ad
                        libero neque, similique in.</p>
                </div>
                <div class="col-12 w-100">
                    <div class="col-12 text-center w-100"> <h5>Usuarios involucrados</h5> </div>
                    <div class="col-12 w-100">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>