<div class="modal fade" id="modalDetalleComentario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-12 text-center">
                    <h4>Trabajo nombre</h4>
                </div>
                <div class="col-12 w-100 border mb-2" style="height: 15vh; overflow-y: scroll;">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ratione dignissimos, incidunt minus
                        cupiditate facere nam laudantium numquam hic voluptatum corporis inventore fugit enim ipsa ad
                        libero neque, similique in.</p>
                </div>
                <div class="col-12 w-100 mb-3">
                    <div class="col-12 text-center w-100 p-0"> <h5>Usuarios involucrados</h5> </div>
                    <div class="col-12 w-100 p-0" style="height: 25vh;">
                        <div class="col-12 row m-0 p-0 w-100 rounded bg-primary-alert" style="height: 40%; margin-bottom: 10% !important;">
                            <div class="col-4 py-2 h-100">
                                <img src="https://via.placeholder.com/150" class="h-100 w-100">
                            </div>
                            <div class="col-8 h-100 d-flex justify-content-center align-items-center">
                                <span style="font-size: 1.15rem;"> Nombre empleador  </span>
                            </div>
                        </div>
                        <div class="col-12 row m-0 p-0 w-100 rounded bg-primary-alert" style="height: 40%; margin-top: 10% !important;">
                            <div class="col-4 py-2 h-100">
                                <img src="https://via.placeholder.com/150" class="h-100 w-100">
                            </div>
                            <div class="col-8 h-100 d-flex justify-content-center align-items-center">
                                <span style="font-size: 1.15rem;"> Nombre trabajador  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 w-100 mb-3">
                    <div class="col-12 text-center w-100 p-0"> <h5>Comentario</h5> </div>
                    <div class="col-12 w-100 border mb-2" style="height: 15vh; overflow-y: scroll;">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ratione dignissimos, incidunt minus
                            cupiditate facere nam laudantium numquam hic voluptatum corporis inventore fugit enim ipsa ad
                            libero neque, similique in.</p>
                    </div>
                </div>
                <div class="col-12 w-100 mb-3">
                    <div class="col-12 text-center w-100 p-0"> <h5>Nota</h5> </div>
                    <div class="col-12 w-100 mb-2 text-center" style="height: 10vh;">
                        <span style="font-size: 300%;">
                            5
                        </span>
                    </div>
                    <div class="col-12 w-100 text-center">
                        <span style="font-size: 1.15rem;">Excelente</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>