<div class="mb-2 row m-0" id="lista-info-detalle">
    <div class="col-2 p-0 rounded-left d-flex justify-content-center align-items-center h-100">
        <span><fa-icon [icon]="icon"></fa-icon></span>
    </div>
    <div class="col-10 p-0 text-center d-flex rounded-right justify-content-center align-items-center h-100" style="overflow-y:hidden; text-overflow:ellipsis; width: 100%; height: 100%;">
        <span style="font-size: 1.15rem;" *ngIf = "tipo !== 'region'">{{dato}}</span>
        <span style="font-size: 1.15rem;" *ngIf = "tipo === 'region'"> 
            <div *ngIf="dato === 1">Iquique</div>
            <div *ngIf="dato === 2">Antogasta</div>  
            <div *ngIf="dato === 3">Atacama</div>  
            <div *ngIf="dato === 4">Coquimbo</div>  
            <div *ngIf="dato === 5">Valparaíso</div>  
            <div *ngIf="dato === 6">Libertador Bernardo O'Higgins</div>  
            <div *ngIf="dato === 7">Maule</div>  
            <div *ngIf="dato === 8">Bío - Bío</div>  
            <div *ngIf="dato === 9">Araucanía</div>  
            <div *ngIf="dato === 10">Los Lagos</div>  
            <div *ngIf="dato === 11">Aysén del Gral. Carlos Ibañes del Campo</div>  
            <div *ngIf="dato === 12">Magallanes y la Antártica Chilena</div>  
            <div *ngIf="dato === 13">Region Metropolitana</div>  
            <div *ngIf="dato === 14">Los rios</div>  
            <div *ngIf="dato === 15">Arica y Parinacota</div>  
        </span>
    </div>
</div>