<div class="modal fade" id="modalCrearAviso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row m-0 rounded">
            <div class="col-12 text-center">
              <h4>Crea un aviso!</h4>
            </div>
            <div class="col-12 p-0 mb-2">
              <div class="w-100 bg-light">
                <h5>Describe tú problema</h5>
              </div>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <!-- mapa -->
            <div class="col-12 p-0" style="height: 50vh;">
              <app-mapa-crear-aviso></app-mapa-crear-aviso>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>