<div class="h-100 w-100">
    <form autocomplete="on" [formGroup]="formDatosPersonales">
        <div class="w-100 bg-light p-3 text-center">
            Acá recopilaremos datos necesarios para crear un perfil sobre tí, como tus <strong>nombres, apellidos, tú región , tu telefono y
            una pequeña descripción sobre tí </strong>( es sumamente importante, puesto que esta descripción permitirá a las
            personas crearse una idea sobre tí ).
        </div>
        <div class="form-group">
            <label for="nombresInput">Nombres</label>
            <input type="text" class="form-control" id="nombresInput" formControlName="nombres" placeholder="Primer y segundo Nombre" [class.is-invalid]="formDatosPersonales.get('nombres').invalid && formDatosPersonales.get('nombres').touched" required>
        </div>
        <div class="form-group">
            <label for="apellidosInput">Apellidos</label>
            <input type="text" class="form-control" id="apellidosInput" formControlName="apellidos" placeholder="Primer y segundo Apellido" [class.is-invalid]="formDatosPersonales.get('apellidos').invalid && formDatosPersonales.get('apellidos').touched" required>
        </div>
        <div class="form-group">
            <label for="regionInput">Región</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="region" [class.is-invalid]="formDatosPersonales.get('region').invalid && formDatosPersonales.get('region').touched" required>
                <option *ngFor="let region of opcionesRegion" [ngValue]="region.value"> {{region.name}} </option>
            </select>
        </div>
        <div class="form-group">
            <label for="telefonoInput">Telefono</label>
            <input type="text" class="form-control" id="telefonoInput" formControlName="telefono" placeholder="+569 12345678" [class.is-invalid]="formDatosPersonales.get('telefono').invalid && formDatosPersonales.get('telefono').touched" required>
        </div>
        <div class="form-group">
            <label for="descSobreMiInput">Descripción sobre tí</label>
            <textarea class="form-control" id="descSobreMiInput" formControlName="sobreMi" rows="5" id="descSobreMiInput" [class.is-invalid]="formDatosPersonales.get('sobreMi').invalid && formDatosPersonales.get('sobreMi').touched"></textarea>
        </div>
        <button type="button" matStepperNext class="btn btn-primary"
            (click)="validacionFormularioDos()">Siguiente!</button>
    </form>
</div>