<div class="w-100 mt-2 bg-white shadow row m-0 py-2" style="height: 45%;">
    <div class="col-12 w-100 p-0 py-2 text-center mb-2" style="height: 27%;">
        <h4>Features</h4>
        <p>Conoce las funciones que puedes realizar en nuestra aplicación</p>
    </div>
    <div class="col-12 row m-0 w-100 p-0 mt-2" style="height: 70%;">
        <div class="col border-right text-center h-100">
            <div id="imagen" class="text-center mb-2" style="height: 20%; width: 100%;">   
                <img src="https://i.ibb.co/LnWHMT7/Webp-net-resizeimage-1.png" alt="Webp-net-resizeimage-1" border="0" class="h-100" style="width: 20%;">
            </div>
            <h5>Conoce avisos de trabajo en tú zona</h5>
            <p>Nuestra aplicación filtra los avisos segun tu ubicación y un rango de barrido medido en Kilometros</p>
        </div>
        <div class="col border-right text-center h-100">
            <div id="imagen" class="text-center mb-2" style="height: 20%; width: 100%;">   
                <img src="https://i.ibb.co/LnWHMT7/Webp-net-resizeimage-1.png" alt="Webp-net-resizeimage-1" border="0" class="h-100" style="width: 20%;">
            </div>
             <h5>Conoce trabajadores cerca tuyo</h5> 
             <p>Nuestra aplicación toma en cuenta tu posición, cuando crees un aviso los usuarios más cerca tuyo podrán postularse</p>
        </div>
        <div class="col border-right text-center h-100"> 
            <div id="imagen" class="text-center mb-2" style="height: 20%; width: 100%;">   
                <img src="https://i.ibb.co/LnWHMT7/Webp-net-resizeimage-1.png" alt="Webp-net-resizeimage-1" border="0" class="h-100" style="width: 20%;">
            </div>
            <h5> Gestiona de manera sencilla </h5> 
            <p>Nuestra aplicación te permite manejar tantos tus avisos, como postulaciones de manera sencilla para que tú unica preocupación sea estar atento a los avisos!</p>
        </div>
        <div class="col text-center h-100"> 
            <div id="imagen" class="text-center mb-2" style="height: 20%; width: 100%;">   
                <img src="https://i.ibb.co/LnWHMT7/Webp-net-resizeimage-1.png" alt="Webp-net-resizeimage-1" border="0" class="h-100" style="width: 20%;">
            </div>
            <h5>Crea avisos de manera sencilla pero precisa</h5> 
            <p>Nuestro creador de avisos, trata de abarcar los puntos más importantes para que un futuro trabajador quede claro y se postule</p>
        </div>
    </div>  
</div>
