<nav class="navbar navbar-light bg-light d-flex" id="barraLanding">
    <div class="mr-auto">
        <div id="brand" class="text-center">
            <h5>Jobfind</h5>
        </div>
    </div>
    <div class="ml-auto">
        <div class="row m-0">
            <div class="col-6 p-0 pr-2">
                <button type="button" class="btn btn-sm">Registrarse</button>
            </div>
            <div class="col-6 p-0 pl-2">
                <button type="button" class="btn btn-success btn-sm">Login</button>
            </div>
        </div>
    </div>
</nav>