<div class="rounded p-2 row m-0 mb-2" id="tarjetaPostulado">
    <div class="col-2 p-0 h-100">
        <img src="https://via.placeholder.com/150" class="w-100 h-100">
    </div>
    <div class="col-6 p-0 px-2">
        <div class="col-12 p-0 w-100">
            <span>Nombre</span>
        </div>
        <div class="col-12 p-0 w-100">
            <span>Hora 12:00:00</span>
        </div>
        <div class="col-12 p-0 row m-0 mt-2">
            <span><fa-icon [icon]="faStreetView"></fa-icon></span>
            <span><fa-icon [icon]="faStar"></fa-icon> </span>
        </div>
    </div>
    <div class="col-4 p-0 row m-0">
        <button type="button" class="btn btn-secondary w-100 mb-1">Ver perfil <fa-icon [icon]="faIdBadge"></fa-icon> </button>
        <button type="button" class="btn btn-success mr-1" style="width: 49%;"><fa-icon [icon]="faCheck"></fa-icon></button>
        <button type="button" class="btn btn-danger" style="width: 48%;"><fa-icon [icon]="faTimes"></fa-icon></button>

    </div>
</div>