<div class="col-12 row m-0 h-50 border rounded shadow">
    <div class="col-6 d-flex justify-content-center align-items-center h-100 w-100">
        <div id="textos" class="col-12 p-0">
            <h3 class="text-left">Una forma simple y efectiva que aliviara tú forma de encontrar trabajo o encontrar un trabajador que se ajuste a tus problemas</h3>
            <p>No te agobies más con el hecho de no poder encontrar trabajo en tú zona, usa la aplicación y descubre un
                mundo de avisos frente a tí que no conocias. Ahora si buscas un trabajador, crea un aviso y asombrate con la gente que te rodea
            </p>
        </div>
    </div>
    <div class="col-6 h-100 w-100 p-3">
        <img class="h-100 w-100" src="https://i.ibb.co/9Nm8RVw/Clipart-Key-224346.png" alt="Clipart-Key-224346" border="0">
    </div>
</div>