<div class="h-100 w-100">
    <form autocomplete="on">
        <div class="form-group">
            <label for="correoInput">Correo electronico</label>
            <input type="email" class="form-control" id="correoInput">
        </div>
        <div class="form-group">
            <label for="correoConfInput">Confirmar correo electronico</label>
            <input type="email" class="form-control" id="correoConfInput" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="passInput">Contraseña</label>
            <input type="password" class="form-control" id="passInput">
        </div>
        <div class="form-group">
            <label for="passConfInput">Confirmar contraseña</label>
            <input type="password" class="form-control" id="passConfInput">
        </div>
        <div class="form-group">
            <label for="RutInput">RUT</label>
            <input type="text" class="form-control" id="RutInput">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>