<div class="h-100 w-100 rounded row m-0 p-3" id="tarjetaActiva">
    <div class="col-2 h-100 p-0">
        <img src="https://via.placeholder.com/150" class="h-100 w-100 rounded shadow">
    </div>
    <div class="col-6 h-100 p-0 d-flex text-center align-items-center px-2">
        <h4>Titulo trabajo activo</h4>
    </div>
    <div class="col-4 h-100 p-0 px-2 container w-100 d-flex">
        <div class="row m-0 w-100 justify-content-center align-self-center">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalPostulados">Ver lista de postulado</button>
            <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#modalBaja">Dar de baja publicación</button>
        </div>
    </div>
</div>
<app-lista-postulados></app-lista-postulados>
