<div class=" p-2 rounded row m-0 shadow-sm" id="profile-data1">
    <div class="col-12 p-0" id="profileNamePic">
         <div class="col-12 p-0 h-75 w-100">
             <img [src]="usuario.foto" alt="" class="w-100 h-100 img-thumbnail">
         </div>
         <div class="col-12 p-0 h-25 text-center d-flex align-items-center justify-content-center">
             <span style="font-size: 1.35rem; font-weight: bold;">{{usuario.nombres +' '+ usuario.apellidos}}</span>
         </div>
    </div>
    <div class="col-12 p-0" id="listaPropiedades">
        <app-tarjeta-dato-usuario [dato]="usuario.region"></app-tarjeta-dato-usuario>
        <app-tarjeta-dato-usuario></app-tarjeta-dato-usuario>
        <app-tarjeta-dato-usuario></app-tarjeta-dato-usuario>
     </div>
 </div>