<div class=" p-2 rounded row m-0 shadow-sm" id="profile-data1">
    <div class="col-12 p-0" id="profileNamePic">
         <div class="col-12 p-0 h-75 w-100">
             <img src="https://via.placeholder.com/150" alt="" class="w-100 h-100 img-thumbnail">
         </div>
         <div class="col-12 p-0 h-25 text-center d-flex align-items-center justify-content-center">
             <span style="font-size: 1.35rem; font-weight: bold;">Izan Barreiro Rufino Martin</span>
         </div>
    </div>
    <div class="col-12 p-0" id="listaPropiedades">
 
     </div>
 </div>