<div class="modal fade" id="modalPostulados" tabindex="-1" aria-labelledby="modalPostulados" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lista postulados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="listaPostuladinos" style="height: 70vh; overflow-y: scroll;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary w-100" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>