<div class="container-fluid border p-0" style="height: 100vh; padding-top: 50px !important;">
    <button style="height: 7%;" class="btn btn-primary w-100 mt-2 mb-2" (click)="cambiarPerfil()">Usted ve esto como: {{vista}} </button>
    <ng-template [ngIf] = "vista=='empleador'">
        <div class="row m-0" style="height: 90%;">
            <div class="col-12 p-0 border row m-0" style="height: 50%;">
                <div class="col-6 border h-100">
                    <app-lista-historial [lista]="(trabajosSolicitado$|async)"></app-lista-historial>
                </div>
                <div class="col-6 border h-100">
                    <app-lista-avisos-activos [listaAvisos]="(trabajosSolicitado$|async)"></app-lista-avisos-activos>
                </div>
            </div>
            <div class="col-12 p-0 border row m-0" style="height: 50%;">
                <div class="col-6 border h-100">
                    
                </div>
                <div class="col-6 border h-100">
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template [ngIf] = "vista=='trabajador'">
        <div>
            Esto se ve como trabajador
        </div>
    </ng-template>
</div>