<div class="container-fluid p-0" style="height: 100vh; padding-top: 60px !important;">
        <div class="row m-0" style="height: 100%;">
            <div class="col-12 p-0 row m-0" style="height: 50%;">
                <div class="col-6 h-100">
                    <div class="col-12 p-0 text-center border"><h5>Avisos Finalizados</h5></div>
                    <app-lista-historial [lista]="(trabajosSolicitado$|async)" style="height: 90%;"></app-lista-historial>
                </div>
                <div class="col-6 h-100">
                    <div class="col-12 p-0 text-center border"><h5>Avisos Activos</h5></div>
                    <app-lista-avisos-activos [listaAvisos]="(trabajosSolicitado$|async)"></app-lista-avisos-activos>
                </div>
            </div>
            <div class="col-12 p-0 row m-0" style="height: 50%;">
                <div class="col-6 h-100">
                    <div class="col-12 p-0 text-center border"><h5>Trabajos concretados finalizados</h5></div>
                    <app-lista-trabajos-concretados [listaTrabajosConcre]="(trabajosConcretados$ | async)"></app-lista-trabajos-concretados>
                </div>
                <div class="col-6 h-100">
                    <div class="col-12 p-0 text-center border"><h5>Trabajos concretados activos</h5></div>
                    <app-lista-trabajos-activos-empleador [listaTrabajoActivo]="(trabajosConcretados$|async)"></app-lista-trabajos-activos-empleador>
                </div>
            </div>
        </div>
</div>