<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row m-0">
        <div class="col-6 offset-3 p-0 w-100 d-flex justify-content-center">
            <div class="col-12 border h-100">
                <div class="col-12 w-100 text-center" style="height: 12%; overflow-y: scroll;">
                    <h4>Login</h4>
                    <p>Bienvenido de vuelta, antes de poder disfrutar de las maravillas de nuestra aplicación necesitamos que entres</p>
                </div>
                <app-formulario-login></app-formulario-login>
            </div>
        </div>
    </div>
    
</div>